[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-session = "*"
sqlalchemy = "*"
faker = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-mail = "*"
ipdb = "*"
flask-swagger-ui = "*"
werkzeug = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
