[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-session = "*"
sqlalchemy = "*"
faker = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
